a{
    color: #E2E2E2;
    text-decoration: none;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    height: 48px;
    display:flex;
    flex-direction: row;
    align-items:center; 
}
a:hover{
    background-color:#007493;
}